<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="logback-console-appender.xml"/>
  <include resource="logback-file-appender.xml"/>

  <root level="off"/>

  <logger name="com.lankydan.service.MyServiceImpl" level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SAVE-TO-FILE"/>
  </logger>

</configuration>