<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <!--<include resource="com/lankydan/logback/logback-a.xml"/>-->

  <springProfile name="a">
    <!--<include resource="com/lankydan/logback/logback-a.xml"/>-->
  </springProfile>

  <!--<springProfile name="example-2">-->
    <!--<include resource="logback-example-2.xml"/>-->
  <!--</springProfile>-->

  <!--<springProfile name="example-3">-->
    <!--<include resource="logback-example-3.xml"/>-->
  <!--</springProfile>-->

  <!--<springProfile name="example-4">-->
    <!--<include resource="logback-example-4.xml"/>-->
  <!--</springProfile>-->

</configuration>